.paintings-container
  margin-top: 1rem
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr))
  row-gap: 15px
  column-gap: 15px
  width: 90%

.painting
  width: 100%
  aspect-ratio: 1 / 1.414
  img
    width: 100%
    height: 100%
    display: block

@media (max-width: 768px)
  .paintings-container
    width: 90%
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr))

  .painting
    // width: 14rem
    img
      width: 100%
      height: 100%
      display: block